<!DOCTYPE html>
<html lang = "en">

<head>
    <meta charset = "UTF-8">
    <title>Радуга</title>
</head>
<body>

<p><font face="Calibri" size="1" color="red"><b>Каждый</b></font></p>
<p><font face="Times New Roman" size="2" color="orange"><i>Охотник</i></font></p>
<p><font face="Arial" size="3" color="yellow"><i><b>Желает</b></i></font></p>
<p><font face="Verdana" size="4" color="green"><u>Знать</u></font></p>
<p><font face="Georgia" color="#7EB3FF" size="5">Где</font></p>
<p><font face="Monotype Corsiva" color="#0043A4" size="6">Сидит</font></p>
<p><font face="Comic Sans MS" color="purple" size="7"><u>Фазан</u></font></p>

</body>
</html>